{% extends 'base.html.twig' %}

{% block title %}Statistique{% endblock %}

{% block stylesheets %}
    <style>
        #categories-sommes, #categories-number {
            width: 510px;
        }
        #graphs {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    </style>
{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center">Statistiques</h1>
        <div id="graphs">
            <canvas id="categories-sommes"></canvas>
            <canvas id="categories-number"></canvas>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let categories = document.querySelector("#categories-sommes");
        let categGraph = new Chart(categories, {
            type: "pie",
            data: {
                labels: {{ catNom|raw }},
                datasets: [{
                    data: {{ catPrice }},
                    backgroundColor: {{ catColor|raw }}
                }]
            },
            options: {
                responsive: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'les sommes dépensées par catégorie',
                        font: {
                            size: 18
                        }
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        })
        let categoriesNumb = document.querySelector("#categories-number");
        let categGraphNum = new Chart(categoriesNumb, {
            type: "pie",
            data: {
                labels: {{ catNom|raw }},
                datasets: [{
                    data: {{ catCount }},
                    backgroundColor: {{ catColor|raw }}
                }]
            },
            options: {
                responsive: false,
                plugins: {
                    title: {
                        display: true,
                        text: 'Le nombre de produits par catégorie',
                        font: {
                            size: 18
                        }
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        })
    </script>
{% endblock %}
