{% extends 'base.html.twig' %}

{% block title %}Statistique{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stats.css')}}">
{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center">Statistiques</h1>
        <div id="graphs">
            <canvas id="categories-sommes"></canvas>
            <canvas id="categories-number"></canvas>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let catColors = {{ catColor|raw }};
        let catName = {{ catNom|raw }};
        let catPrice = {{ catPrice|raw }};
        let catCount = {{ catCount|raw }};
    </script>
    <script src="{{ asset('js/stats.js')}}"></script>
{% endblock %}
