{% extends 'base.html.twig' %}

{% block title %}Statistique{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stats.css')}}">
{% endblock %}

{% block body %}
    <section class="container d-flex flex-wrap justify-content-center">
        <h1 class="text-center">Statistiques</h1>

        {{ form_start(form) }}
            <div class="row justify-content-center">
                <div class="col-sm-5 form-group row">
                    <label class="col-sm-2 col-form-label">Début</label>
                    <div class="col-sm-7">
                        {{ form_widget(form.start) }}
                    </div>
                </div>
                <div class="col-sm-5 form-group row">
                    <label class="col-sm-2 col-form-label">Fin</label>
                    <div class="col-sm-7">
                        {{ form_widget(form.end) }}
                    </div>
                </div>
                <div class="col-sm-auto align-self-center">
                    {{ form_widget(form.Rechercher) }}
                </div>
            </div>
        {{ form_end(form) }}

        <div id="graphs">
            <canvas id="produitsCount2"></canvas>
            <canvas id="produitsCount"></canvas>
            <canvas id="categories-sommes"></canvas>
            <canvas id="categories-number"></canvas>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let categoriesJson = {{ categoriesJson|raw }};
        let produitsJson = {{ produitsJson|raw }};
        let produitsJson2 = {{ produitsJson2|raw }};
    </script>
    <script src="{{ asset('js/stats.js')}}"></script>
{% endblock %}
