{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
        {{ form_widget(form.mots) }}
        {{ form_widget(form.Rechercher) }}
    {{ form_end(form) }}
  <select id="select_cat" class="form-select text-center" id="categorie" name="categorie">
  {{ dump(categories) }}
    {% for categorie in categories %}
      <option value="{{ categorie.id }}" {{ (categorie.id == categorie_id) ? "selected" : "" }}>{{ categorie.name }}</option>
    {% endfor %}
  </select>
</div>
<div class="container d-flex flex-wrap "> 
{% for produit in produits %}

  <div class="card m-3 justify-content-center " style="width: 18rem;">
    <div>
      <div class="card-body"><a href="{{ path('app_main_produits_show', {'id': produit.id}) }}">
        <h5 class="card-title">{{produit.name}}</h5>
        <img src="{{ asset('/uploads/img/'~produit.images[0].name) }}" alt="Image" width="150">
        <p class="card-text">{{produit.categories.name}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span>{{produit.price}}€</span></p>
        <p class="card-text">{{produit.achatAt ? produit.achatAt|date('d/m/Y') : '' }}</p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/choice_categorie.js')}}"></script>
{% endblock %}
