{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

    <section class="container">
        <h1 class="text-center">Produits</h1>

        <div class="container shadow-lg p-3 mb-5 bg-white">
            <div class="row">
                <div class="col">
                    <img id="big_image" src="{{ asset('/uploads/img/'~ produit.images[0].name) }}" alt="Image">
                </div>
            </div>
            <div class="row">
                <div class="col img-fluid">
                    {% for image in produit.images %}
                        <img class="produit_img img-fluid" src="{{ asset('/uploads/img/'~ image.name) }}" width="100px" alt="Image">
          
                    {% endfor %}
                </div>
            </div>
            <div class="produit">
                <div class="col-md-9 float-end align-self-start">
        
                    <p>{{ produit.name }} <a href="{{ path('app_produits_edit', {'id': produit.id}) }}">
                    <img class="img-mod" src="{{ asset('img/crayon.svg')}}" alt="modifier" /></a></p>
                    <p>Prix : {{ produit.price }}€</p>
                    <p>Lieu d'achat : {{ produit.lieuAchat }}</p>
                    <p>Catégorie : {{produit.categories.name}}</p>
                    <p>Date d'achat : {{ produit.achatAt ? produit.achatAt|date('d/m/Y') : '' }}</p>
                    <p>Date de fin de garantie : {{ produit.guaranteeAt ? produit.guaranteeAt|date('d/m/Y') : '' }}</p>
                    <p>Description{{ produit.content|raw }}</p>
                </div>
            </div>
            <div class=" d-flex rounded float-start">
                <a href="{{ asset ('/uploads/files/'~ produit.manuelSrc) }}" target="_blank"><img class="img-pdf" src="{{ asset('img/logo_pdf.png')}}"> </a><span>Manuel d'utilisation</span>
                <a href="{{ asset ('/uploads/files/'~ produit.ticketSrc) }}" target="_blank"><img class="img-ticket" src="{{ asset('img/logo_ticket.png')}}"></a><span>Ticket de caisse </span>
            </div> 
            
                <a href="{{ path('app_produits_index') }}"><img class="img-mod" src="{{ asset('img/revenir.svg')}}" alt="retour" /></a>
    
    
            {{ include('produits/_delete_form.html.twig') }}
        </div>
    </section>
  
{% endblock %}
{% block javascripts %}
    
    <script src="{{ asset('js/produit.js')}}"></script>
{% endblock %}
