{% extends 'admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<section class="container">

    <h1 class="text-center"><a href="{{ path('app_admin_register') }}"><img class="img-mod" src="{{ asset('img/ajouter-contenu.svg')}}" alt="créer" /></a> Un utilisateur</h1>

    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
                <th class="align-middle col-mod-tel">Id</th>
                <th class="align-middle col-pc">Nom</th>
                <th class="align-middle col-pc">Prénom</th>
                <th class="align-middle">Email</th>
                <th class="align-middle">Email vérifié</th>
                <th class="align-middle">Roles</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
                <tr>
                    <td class="align-middle col-mod-tel">{{ user.id }}</td>
                    <td class="align-middle col-pc">{{ user.name }}</td>
                    <td class="align-middle col-pc">{{ user.firstname }}</td>
                    <td class="align-middle">{{ user.email }}</td>
                    <td class="align-middle">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" data-id="{{ user.id }}" {{ (user.isVerified) ? "checked" : "" }}>
                        </div>
                    </td>
                    <td class="align-middle">
                        <select class="select-role form-select" name="users[role]" data-id="{{ user.id }}">
                            {% if user.roles[0] == "ROLE_ADMIN" %}
                                <option value="ROLE_ADMIN" selected>Admin</option>
                            {% else %}
                                <option value="ROLE_ADMIN">Admin</option>
                            {% endif %}
                            {% if user.roles[0] == "ROLE_USER" %}
                                <option value="ROLE_USER" selected>Utilisateur</option>
                            {% else %}
                                <option value="ROLE_USER">Utilisateur</option>
                            {% endif %}
                            {% if user.roles[0] == "ROLE_DELETE" %}
                                <option value="ROLE_DELETE" selected>Supprimer</option>
                            {% else %}
                                <option value="ROLE_DELETE">Supprimer</option>
                            {% endif %}
                            {% if user.roles[0] == "ROLE_BANNED" %}
                                <option value="ROLE_BANNED" selected>banni</option>
                            {% else %}
                                <option value="ROLE_BANNED">banni</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
        {% else %}
            <tr>
                <td colspan="10">Il n'y a pas d'utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</sction>
{% if pages > 1 %}
  <div class="container">
    <nav aria-label="Page navigation" class="d-flex justify-content-center">
      <ul class="pagination">
        {% for item in 1..pages %}
          <li class="page-item {{ (page == item) ? 'active' : '' }}"><a class="page-link" href="?page={{ item }}">{{ item }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin_users.js')}}"></script>
{% endblock %}
