{% extends 'admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<section class="container">

    <h1 class="text-center"><a href="{{ path('app_admin_register') }}"><img class="img-mod" src="{{ asset('img/ajouter-contenu.svg')}}" alt="créer" /></a> Un utilisateur</h1>

    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Email vérifié</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if id_user != user.id %}
                <tr>
                    <td class="align-middle">{{ user.id }}</td>
                    <td class="align-middle">{{ user.name }}</td>
                    <td class="align-middle">{{ user.firstname }}</td>
                    <td class="align-middle">{{ user.email }}</td>
                    <td class="align-middle">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" data-id="{{ user.id }}" {{ (user.isVerified) ? "checked" : "" }}>
                        </div>
                    </td>
                    <td class="align-middle">
                        <select class="select-role form-select" name="users[role]" data-id="{{ user.id }}">
                            {% if user.roles[0] == "ROLE_ADMIN" %}
                                <option value="ROLE_ADMIN" selected>Admin</option>
                            {% else %}
                                <option value="ROLE_ADMIN">Admin</option>
                            {% endif %}
                            {% if user.roles[0] == "ROLE_USER" %}
                                <option value="ROLE_USER" selected>Utilisateur</option>
                            {% else %}
                                <option value="ROLE_USER">Utilisateur</option>
                            {% endif %}
                            {% if user.roles[0] == "ROLE_DELETE" %}
                                <option value="ROLE_DELETE" selected>Supprimer</option>
                            {% else %}
                                <option value="ROLE_DELETE">Supprimer</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</sction>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin_users.js')}}"></script>
{% endblock %}
