<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

          <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">ACS ASSOCIATION</a>
        <div class="d-flex">
          <ul class="menu">
            <li class="dropdown">
              <a class="nav-link " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img id="burger_menu" src="{{ asset ('img/burger_icon.svg') }}" alt="menu"></a>
              <div id="menu" class="dropdown-menu dropdown-menu-lg-end navbar-dark bg-primary ">
                <a class="dropdown-item" href="{{ path('app_home') }}">Accueil</a>
                <a class="dropdown-item" href="{{ path('app_main_produits_categorie')}}">Catégories</a>
                <a class="dropdown-item" href="{{ path('app_categories_stats') }}">Stats</a>
              <div class="dropdown-divider"></div>
                <div class="dropdown sub-menu"><p class="text-white">Utilisateurs</p></div>
                  <div id="sous-menu" class="sous-menu"> 
                    <a class="dropdown-item" aria-current="page" href="{{ path('app_users') }}">Mon profil</a>
                    <a class="dropdown-item" href="{{ path('app_produits_index') }}">Mes produits</a>
                    <a class="dropdown-item" href="{{ path('app_categories_index') }}">Catégories</a>
                  </div>
              <div class="dropdown-divider"></div>
                {% if role_user == "ROLE_ADMIN" %}
                  <div class="dropdown sub-menu"><p class="text-white">Admin</p></div>
                  <div id="sous-menu2" class="sous-menu">
                      <a class="dropdown-item" aria-current="page" href="{{ path('app_admin_users') }}">Utilisateurs</a>
                      <a class="dropdown-item" href="{{ asset ('produits/?admin=admin') }}">Produits</a>
                      <a class="dropdown-item" href="{{ asset ('categories/?admin=admin') }}">Catégories</a>
                  </div>
                  <div class="dropdown-divider"></div>

                {% endif %}
              <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
          </div>
        </li>
      </ul>
  </div>
</div>
</nav>

    <main>
    {% block body %}{% endblock %}
    </main>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
      <script src="{{ asset('js/script.js')}}"></script>
         
    </body>
</html>