<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://bootswatch.com/5/materia/bootstrap.min.css">
    
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">ACS ASSOCIATION</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_home') }}">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_categories_index')}}">Catégories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{  path('app_categories_stats') }}">Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{  path('app_users') }}">Utilisateurs</a>
        </li>
        {% if role_user == "ROLE_ADMIN" %}
          <li class="nav-item">
            <a class="nav-link" href="{{  path('app_admin_index') }}">Admin</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
      </ul>
     
    </div>
  </div>
  
</nav>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ path('app_users') }}">Mon profil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_produits_index') }}">Mes produits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_categories_index') }}">Catégories</a>
  </li>
 
</ul>
    <main>
       {% block body %}{% endblock %}
    </main>

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/script.js')}}"></script>
         
    </body>
</html>