{% extends 'users.html.twig' %}

{% block title %}Modification du profil de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
<div class="container">
    <div class=" row justify-content-center">
    <div class="col-md-auto">
    <div>
        <h3>Modification du profil de {{ app.user.firstname }} {{ app.user.name }}</h3>
        {{ form(form) }}

    </div></br>
  
    
    {% endfor %}
{% endblock %}
