{% extends 'users.html.twig' %}

{% block title %}Profil de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
<div class="container">
    <div class=" row justify-content-center">
    <div class="col-md-auto">
    <div>
        <h3>Profil de {{ app.user.firstname }} {{ app.user.name }}</h3>
    </div></br>
  <div class="row justify-content-md-left">
    <div class="col-md-auto">
        <div>Nom :</div>
        <div>Prénom :</div>
        <div>Email :</div>
    </div>
    <div class="col-md-auto">
        <div>{{ app.user.name }}</div>
        <div>{{ app.user.firstname }}</div>
        <div>{{ app.user.email }}</div></br>
            <a href="{{ path('users_profil_modifier') }}" >Modifier profil</a>
            <a href="#" >Modifier mot de passe</a></br></br></br>
    </div>
    <div class="container">
        <div class="col-md-auto">
            <h3>Produits de {{ app.user.firstname }} {{ app.user.name }} ({{app.user.produits|length }})</h3>
        </div></br>
    {% for produit in app.user.produits %}
        <div class="row justify-content-md-left">
            <div class="col-md-auto">
            <div>Nom du produit :</div>
        </div>
            <div class="col-md-auto">
                <div>{{ produit.name }}</div>
    
    {% endfor %}
{% endblock %}
