{{ form_start(form) }}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
        {{form_widget(form.name)}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date d'achat</label>
        <div class="col-sm-10">
        {{form_widget(form.achat_at)}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Date de fin de garantie</label>
        <div class="col-sm-10">
        {{form_widget(form.guarantee_at)}}
        </div>
    </div>
     <div class="form-group row">
        <label class="col-sm-2 col-form-label">Lieu d'achat</label>
        <div class="col-sm-10">
        {{form_widget(form.lieu_achat)}}
        </div>
    </div>
   <!--<div class="form-group row">
        <label class="col-sm-2 col-form-label">Achat</label>
        <input type="date" id="produits_achat_at" name="produits[achat_at]" required="required" value="{{ produit.achatAt ? produit.achatAt|date('Y-m-d') : '' }}">
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Garantie</label>
        <input type="date" id="produits_guarantee_at" name="produits[guarantee_at]" required="required" value="{{ produit.guaranteeAt ? produit.guaranteeAt|date('Y-m-d') : '' }}">
    </div>-->
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Prix</label>
        <div class="col-sm-10">
        {{form_widget(form.price)}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Catégorie</label>
        <div class="col-sm-10">
        {{form_widget(form.categories)}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
        {{form_widget(form.content)}}
        </div>
    </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Manuel</label>
        <div class="col-sm-10">
        {{form_widget(form.manuel_src)}}
        </div>
    </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Ticket</label>
        <div class="col-sm-10">
        {{form_widget(form.ticket_src)}}
        </div>
    </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Images</label>
        <div class="col-sm-10">
        {{form_widget(form.images)}}
        </div>
    </div>
  <!--<label for="produits_manuel_src">test</label>-->
    {#verifier si la route est "produits_edit" on affiche les images#}
    {% if app.request.attributes.get('_route') == 'app_produits_edit' %}
        <h2>Images</h2>
        {% for image in produit.images %}
            <div>
                <img src="{{ asset('/uploads/img/'~image.name) }}" alt="Image" width="150">
                <a href="{{ path('produits_delete_image', {'id': image.id}) }}"
                data-delete data-token="{{ csrf_token('delete' ~ image.id) }}"><img class="img-mod imd-delet-prd" src="{{ asset('img/poubelle.svg')}}" alt="supprimer" /></a>
            </div>
        {% endfor %}   

    {% endif %}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
