{{ form_start(form) }}
    {{ form_widget(form) }}
    
    {#verifier si la route est "produits_edit" on affiche les images#}
    {% if app.request.attributes.get('_route') == 'app_produits_edit' %}
        <h2>Images</h2>
        {% for image in produit.images %}
            <div>
                <img src="{{ asset('/uploads/img/'~image.name) }}" alt="Image" width="150">
                <a href="{{ path('produits_delete_image', {'id': image.id}) }}"
                data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
            </div>
        {% endfor %}   

    {% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
