{% extends 'users.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center"><a href="{{ path('app_produits_new') }}"><img class="img-mod" src="{{ asset('img/ajouter-contenu.svg')}}" alt="créer" /></a> Produits</h1>

        <table class="table table-striped">
            <thead class="table-primary">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Slug</th>
                    <th>Date d'achat</th>
                    <th>Date de fin de garantie</th>
                    <th>Prix</th>
                    <th>Description</th>
                    <th>Visible</th>
                    <th>Date de création</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.name }}</td>
                    <td>{{ produit.slug }}</td>
                    <td>{{ produit.achatAt ? produit.achatAt|date('d/m/Y') : '' }}</td>
                    <td>{{ produit.guaranteeAt ? produit.guaranteeAt|date('d/m/Y') : '' }}</td>
                    <td>{{ produit.price }}</td>
                    <td>{{ produit.content|raw }}</td>
                    <td>{{ produit.active ? 'Yes' : 'No' }}</td>
                    <td>{{ produit.createdAt ? produit.createdAt|date('d/m/Y') : '' }}</td>
                    <td>
                        <a href="{{ path('app_produits_show', {'id': produit.id}) }}"><img class="img-mod" src="{{ asset('img/partage-des-competences-512.svg')}}" alt="visualiser" /></a>
                        <a href="{{ path('app_produits_edit', {'id': produit.id}) }}"><img class="img-mod" src="{{ asset('img/crayon.svg')}}" alt="modifier" /></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        
    </sction>
{% endblock %}
