{% extends 'users.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center">Produits</h1>

        <table class="table table-show">
            <tbody>
                <tr>
                    <th class="table-show-td">Id</th>
                    <td>{{ produit.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ produit.name }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ produit.slug }}</td>
                </tr>
                <tr>
                    <th>Date d'achat</th>
                    <td>{{ produit.achatAt ? produit.achatAt|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Date de fin de garantie</th>
                    <td>{{ produit.guaranteeAt ? produit.guaranteeAt|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ produit.price }} €</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ produit.content|raw }}</td>
                </tr>
                <tr>
                    <th>Active</th>
                    <td>{{ produit.active ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{{ produit.createdAt ? produit.createdAt|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Par</th>
                    <td>{{ user.name }} {{ user.firstname }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
        <a class="m-2 btn bg-light bg-gradient" href="{{ path('app_produits_index') }}"><img class="img-mod" src="{{ asset('img/revenir.svg')}}" alt="retour" /></a>

        <a class="m-2 btn bg-light bg-gradient" href="{{ path('app_produits_edit', {'id': produit.id}) }}"><img class="img-mod" src="{{ asset('img/crayon.svg')}}" alt="modifier" /></a>

        {{ include('produits/_delete_form.html.twig') }}
        </div>
    </sction>
{% endblock %}
